body {
    background-color: ghostwhite;
}

#logo {
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

/* #profilePicSection {
    border: black 2px solid;
    background-color: aqua;
    display: inline;
} */

#profilepicture {
    height: 100px;
    position: relative;
}

#uploadsection {
    height: 200px;
    width: 400px;
    background-color: blueviolet;
}

#main_profile {
    width: 1000px;
    height: 1000px;
    background-color: lightskyblue;
}

#bio-editor {
    width: 400px;
    height: 400px;
    background-color: coral;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#membersProfile {
    height: 100px;
    width: 100px;
    background-color: aqua;
}
